<h1>Welcome</h1>

<% if logged_in? %>
  <h1>You are Logged In, <%= current_user.nickname %></h1>
<%end%>

<p><%= button_to "Login", '/login', method: :get %></p>
<p><%= button_to "Sign Up", '/sign_up', method: :get %></p>
<p><%= button_to "Log out", '/logout', method: :post %></p>

