<h1>Welcome</h1>

<% if logged_in? %>
  <h4><a class="welcome-links" href="/users">artist page</a></h4>
<%end%>
<p>
  Hi. My name is Danylo Kulbachinskiy, and this site is my project for ruby internship sprint 10 - get acquainted with Views in Rails.<br>
  You can sign up and login like user, add your art works for saving and showing it. Also you can look at someone else's art works.<br>
  Thank you for your attention.
</p>



