<h1>Artists</h1>

<% @users.each do |artist| %>
  <a href="/art_works/<%=artist.id %>"><%= artist.nickname %></a><br>
<%end %>

<% flash.each do |type, message| %>
  <div class="alert alert-info" >
    <%= message %>
  </div>
<% end %>