<h1>arts list</h1>
<% if @art_works %>
  <% @art_works.each do |art| %>
    <img src="<%= art.attachment %>">
    <% if art.user_id == current_user.id %>
      <p><%= button_to "update", "/art_works/#{art.id}/edit", method: :get %></p>
      <p><%= button_to "delete", "/art_works/#{art.id}", method: :delete %></p>
    <%end %>
  <%end %>

  <% if current_user.id == @creator.id %>
    <p><%= button_to "add new work", "/art_works/new", method: :get %></p>
  <%end %>
<%end %>

